<div class="card">
    <img src="https://cdn.masastack.com/images/MASA%20IoT.png" class="card-img-top" style="max-height:260px" title="image" />
    <div class="card-body pt-1">
        <div class="fw-light my-1 article-meta">
            3 个月前
            发表
            2 个月前
            更新
            MASA IOT
            21 分钟读完 (大约3077个字)
        </div>
        <a href="#" class="link-underline-opacity-0 link-underline link-dark">
            <h3 class="card-title">Card title</h3>
        </a>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-small btn-light">阅读全文</a>
    </div>
</div>