<div class="archive-main-card">
    <div class="archive-top">
        <div class="main-title-bar">
            <div class="main-title-dot"></div>
            <h1 class="article-title">归档</h1>
        </div>
    </div>
    <div class="year-line">
        <div class="year-num">2018</div>
        <div class="dot-wrapper">
            <div class="dot"></div>
        </div>
        <div class="article-count">1 article</div>
    </div>

    <a class="archive-article-link" href="/vivia-preview/2018/12/26/images/" title="Images Test">
        <div class="date">12-26</div>
        <div class="line">
            <div class="dot"></div>
        </div>
        <div class="title">
            <div class="title-inner">

                Images Test

            </div>
        </div>
        <div class="tags">
            #Test #Image #Gallery
        </div>
    </a>

    <div class="year-line">
        <div class="year-num">2013</div>
        <div class="dot-wrapper">
            <div class="dot"></div>
        </div>
        <div class="article-count">1 article</div>
    </div>

    <a class="archive-article-link" href="/vivia-preview/2013/12/25/gallery-post/" title="Gallery Post">
        <div class="date">12-25</div>
        <div class="line">
            <div class="dot"></div>
        </div>
        <div class="title">
            <div class="title-inner">

                Gallery Post

            </div>
        </div>
        <div class="tags">
            #Test #Image #Gallery
        </div>
    </a>

</div>