<article id="post-markdown" class="h-entry article article-type-post" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">

    <div class="article-inner">
        <div class="article-main">
            <header class="article-header">
                <div class="main-title-bar">
                    <div class="main-title-dot"></div>
                    <h1 itemprop="name">
                        <a class="p-name article-title" asp-controller="Article" asp-action="Index">Markdown Style test</a>
                    </h1>
                </div>
                <div class="meta-info-bar">
                    <div class="meta-info">
                        <time class="dt-published" datetime="2019-07-24T15:31:06.000Z" itemprop="datePublished">2019-07-24</time>
                    </div>
                    <div class="need-seperator meta-info">
                        <div class="meta-cate-flex">
                            <a class="meta-cate-link" href="/vivia-preview/categories/Markdown/">Markdown</a>
                        </div>
                    </div>
                    <div class="wordcount need-seperator meta-info">
                        1.2k words
                    </div>
                </div>
                <ul class="article-tag-list" itemprop="keywords"><li class="article-tag-list-item"><a class="article-tag-list-link" href="/vivia-preview/tags/Display/" rel="tag">Display</a></li><li class="article-tag-list-item"><a class="article-tag-list-link" href="/vivia-preview/tags/Markdown/" rel="tag">Markdown</a></li><li class="article-tag-list-item"><a class="article-tag-list-link" href="/vivia-preview/tags/Style/" rel="tag">Style</a></li><li class="article-tag-list-item"><a class="article-tag-list-link" href="/vivia-preview/tags/Test/" rel="tag">Test</a></li></ul>
            </header>
            <div class="e-content article-entry" itemprop="articleBody">
                <p>This post is originated from <a target="_blank" rel="noopener" href="https://gist.github.com/apackeer/4159268">here</a> and is used for testing markdown style. This post contains nearly every markdown usage. Make sure all the markdown elements below show up correctly.</p>
            </div>
        </div>
        <a class="right-panel  with-pic  " style="background-image: url(/vivia-preview/./assets/img-2.png)" href="/vivia-preview/2019/07/24/markdown/">
            <div class="overlay">
                <i class="fa-solid fa-angle-right with-pic"></i>
            </div>

        </a>

    </div>

</article>