<MCard Class="mt-10">
    <MImage Src="https://blogs.masastack.com/images/covers/vector_landscape_2.svg" MaxHeight="260"></MImage>
    <MCardText>
        <div>
            1 年前
            发表
            2 个月前
            更新
            .NET
            / 
            BLAZOR
            / 
            MASA BLAZOR
            18 分钟读完 (大约2724个字)
        </div>
        <h1>Masa Blazor自定义组件封装</h1>
        <div>
            <p>实际项目中总能遇到一个”组件”不是基础组件但是又会频繁复用的情况,在开发MASA Auth时也封装了几个组件。既有简单定义CSS样式和界面封装的组件（GroupBox），也有带一定组件内部逻辑的组件(ColorGroup)。
                本文将一步步演示如何封装出一个如下图所示的ColorGroup组件,将MItemGroup改造为ColorGroup,点击选择预设的颜色值。</p>
        </div>
        <MCardActions>
            <MButton Text>阅读更多</MButton>
        </MCardActions>
    </MCardText>
</MCard>
@code {

}
