@inherits ComponentBase
<MCard Class="text-center pa-6">
    <div class="mb-4">
        <MAvatar Color="blue"
                 Size="128"
                 Class="mb-2">
            <MImage Src="/images/avatar.jpg"></MImage>
        </MAvatar>
        <div class="profile-name">BugChang</div>
        <div>
            Make change easier.
        </div>
        <div>
            辽宁,沈阳
        </div>
    </div>
    <nav class="d-flex align-center justify-space-between justify-center">
        <div class="profile-nav-item">
            <div>
                <p class="profile-heading">文章</p>
                <a href="#">
                    <p class="profile-title">80</p>
                </a>
            </div>
        </div>
        <div class="profile-nav-item">
            <div>
                <p class="profile-heading">分类</p>
                <a href="#">
                    <p class="profile-title">80</p>
                </a>
            </div>
        </div>
        <div class="profile-nav-item">
            <div>
                <p class="profile-heading">标签</p>
                <a href="#">
                    <p class="profile-title">80</p>
                </a>
            </div>
        </div>
    </nav>
    <MButton Class="mb-3" Block Rounded Color="primary">关注我</MButton>
    <div class="d-flex flex-wrap align-center justify-space-between">
        <MButton Icon>
            <MIcon>mdi-github</MIcon>
        </MButton>
        <MButton Icon>
            <MIcon>mdi-github</MIcon>
        </MButton> <MButton Icon>
            <MIcon>mdi-github</MIcon>
        </MButton> <MButton Icon>
            <MIcon>mdi-github</MIcon>
        </MButton>
    </div>
</MCard>

@code {

}
