@inherits ComponentBase
<MSheet Class="text-center pa-6">
    <div class="mb-4 d-flex flex-column align-center">
        <MAvatar Color="blue"
                 Size="128"
                 Class="mb-2">
            <MImage Src="/images/avatar.jpg"></MImage>
        </MAvatar>
        <div class="text-h5">BugChang</div>
        <div class="grey--text  text--darken-3">
            Make change easier.
        </div>
        <div>
            辽宁,沈阳
        </div>
    </div>
    <nav class="d-flex align-center justify-space-around">
        <div class="profile-nav-item">
            <div>
                <p class="text-h6 font-weight-bold">文章</p>
                <a href="#">
                    <p class="text-h5 text-decoration-none">80</p>
                </a>
            </div>
        </div>
        <div class="profile-nav-item">
            <div>
                <p class="text-h6 font-weight-bold">分类</p>
                <a href="#">
                    <p class="text-h5 profile-title">80</p>
                </a>
            </div>
        </div>
        <div class="profile-nav-item">
            <div>
                <p class="text-h6 font-weight-bold">标签</p>
                <a href="#">
                    <p class="text-h5">80</p>
                </a>
            </div>
        </div>
    </nav>
    <MButton Class="mb-3" Block Rounded Color="primary">关注我</MButton>
    <div class="d-flex flex-wrap align-center justify-space-around">
        <MButton Icon>
            <MIcon>mdi-github</MIcon>
        </MButton>
        <MButton Icon>
            <MIcon>mdi-wechat</MIcon>
        </MButton>
        <MButton Icon>
            <MIcon>mdi-qqchat</MIcon>
        </MButton>
        <MButton Icon>
            <MIcon>mdi-twitter</MIcon>
        </MButton>
        <MButton Icon>
            <MIcon>mdi-google</MIcon>
        </MButton>
    </div>
</MSheet>