@{
    Layout = null;
}
@model Blog.Web.Models.LoginViewModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
</head>
<body class=" d-flex flex-column bg-white">
    <div class="row g-0 flex-fill">
        <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
            <div class="container container-tight my-5 px-lg-5">
                <div class="text-center mb-4">
                    <a href="." class="navbar-brand navbar-brand-autodark"><img src="/images/logo.svg" height="36" alt=""></a>
                </div>
                <h2 class="h3 text-center mb-3">
                    登录到您的帐户
                </h2>
                <form asp-action="Login" method="post" autocomplete="off" novalidate>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Email">邮箱</label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="xxxx@email.com" autocomplete="off" >
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="Password">
                            密码
                            <span class="form-label-description">
                                <a href="./forgot-password.html">密码找回</a>
                            </span>
                        </label>
                        <div class="input-group input-group-flat">
                            <input type="password" class="form-control" placeholder="your password" autocomplete="off" asp-for="Password">
                            <span class="input-group-text">
                                <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-check" asp-for="IsPersistent">
                            <input type="checkbox" class="form-check-input" asp-for="IsPersistent" />
                            <span class="form-check-label">该设备免登录</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">登录</button>
                    </div>
                </form>
                <div class="text-center text-secondary mt-3">
                    还没有账号？ <a href="./sign-up.html" tabindex="-1">立即注册</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
            <!-- Photo -->
            <div class="bg-cover h-100 min-vh-100" style="background-image: url(/images/login-cover.jpg)"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
</body>
</html>