<div class="card">
    <div class="card-body">
        <span class="component-title">归档</span>
        <div class="list-group mt-2">
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border border-0">
                2023年7月
                <span class="badge bg-primary rounded-pill">13</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border border-0">
                2023年6月
                <span class="badge bg-primary rounded-pill">24</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border border-0">
                2023年5月
                <span class="badge bg-primary rounded-pill">59</span>
            </a>
        </div>
    </div>

</div>