@using Blog.Web.Views.Shared.Components.Archive
@using Blog.Web.Views.Shared.Components.Category
@using Blog.Web.Views.Shared.Components.PersonalInfo
@using Blog.Web.Views.Shared.Components.Tag
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewBag.Title ?? "BugChang's Blog")</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/lib/feather/css/feather.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="pcoded" class="pcoded iscollapsed" nav-type="st2" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink" vnavigation-view="view1" fream-type="theme1" layout-type="light">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <header class="p-3 mb-3 border-bottom bg-white" >
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a class="navbar-brand f-24" asp-action="Index">BugChang's Blog</a>
                        <ul class="nav col-12 col-lg-auto me-lg-auto ms-2 justify-content-center">
                            <li><a href="#" class="nav-link px-2 link-body-emphasis f-18">首页</a></li>
                            <li><a href="#" class="nav-link px-2 link-body-emphasis f-18">分类</a></li>
                            <li><a href="#" class="nav-link px-2 link-body-emphasis f-18">归档</a></li>
                            <li><a href="#" class="nav-link px-2 link-body-emphasis f-18">关于</a></li>
                        </ul>

                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                        </form>

                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <div class="row">
                    <div class="col-4 component">

                        @await Component.InvokeAsync(typeof(PersonalInfoViewComponent))
                        @await Component.InvokeAsync(typeof(CategoryViewComponent))
                        @await Component.InvokeAsync(typeof(ArchiveViewComponent))
                        @await Component.InvokeAsync(typeof(TagViewComponent))
                    </div>
                    <div class="col-8">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>