<div class="card flex-column align-items-center p-3">
    <img src="~/image/avatar.jpg" alt="Circular Image" class="rounded-circle img-fluid" width="128">
    <div class="fs-4">
        BugChang
    </div>
    <div class="fw-light">
        <i class="bi bi-geo-alt"></i>辽宁,沈阳
    </div>
    <p>
        先一步失败，早一步成功！
    </p>
    <button class="btn btn-primary w-100 rounded-pill" type="button">关注我</button>
    <div class="d-flex justify-content-around w-100 mt-2">
        <button type="button" class="btn btn-text">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#github" />
            </svg>
        </button>
        <button type="button" class="btn btn-text">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#wechat" />
            </svg>
        </button>
        <button type="button" class="btn btn-text">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#tencent-qq" />
            </svg>
        </button>
        <button type="button" class="btn btn-text">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#envelope" />
            </svg>
        </button>
        <button type="button" class="btn btn-text">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#sina-weibo" />
            </svg>
        </button>


    </div>
</div>