<div class="card">
    <div class="card-body">
        <span class="component-title">标签</span>
        <div class="d-flex">
            <div class="me-1 mb-1">
                <a href="#">
                    <div class="d-flex border">
                        <div class="px-1">.net</div>
                        <span class="px-1">23</span>
                    </div>
                </a>
            </div>
            <div class="me-1 mb-1">
                <div class="tag border">
                    <span class="bg-primary">.net</span>
                    <span>23</span>
                </div>
            </div> <div class="me-1 mb-1">
                <div class="tag border">
                    <span class="bg-primary">.net</span>
                    <span>23</span>
                </div>
            </div>
        </div>

    </div>

</div>