<div class="card">
    <div class="card-header">
        <div class="card-header-left">
            <h5 class="card-header-text">标签</h5>
        </div>
    </div>
    <div class="card-block button-list">
        <button type="button" class="btn btn-primary btn-mini waves-effect waves-light">
           .NET
            <span class="badge">90</span>
        </button>
        <button type="button" class="btn btn-success btn-mini waves-effect waves-light">
            运维经验
            <span class="badge">70</span>
        </button>
        <button type="button" class="btn btn-success btn-mini waves-effect waves-light">
            运维经验
            <span class="badge">70</span>
        </button>
        <button type="button" class="btn btn-warning btn-mini waves-effect waves-light">
            哈哈哈哈服务器啊啊
            <span class="badge">170</span>
        </button>
        <button type="button" class="btn btn-danger btn-mini waves-effect waves-light">
            danger
            <span class="badge">07</span>
        </button>
        <button type="button" class="btn btn-info btn-mini waves-effect waves-light">
            info
            <span class="badge">80</span>
        </button>
    </div>
</div>